
@{
    ViewData["Title"] = "Confirmacion";
}
@{
    Layout=null;
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/EstilosMenús.css">
    <title>Mis datos - EasyBook</title>
</head>

<div id="sidebar" class="sidebar">
      <a href="#" class="boton-cerrar" onclick="ocultar()">X</a>
      <ul class="menu">
          <img src="~/Imagenesproyecto/imagen1.png" alt="IMG">
          <li><a href="/Home/Miperfil">Mis datos</a></li>
          <li><a href="/Home/Confirmacion">Informacion de los prestamos</a></li>
          <li><a href="/Home/BuscarLibro">Consultar libros</a></li>
          <li><a href="/Home/Post">Agregar opinión</a></li>
          <li><a onclick="Abrirchat()">Comunicación</a></li>

          <br>
          <br>
          <li><a asp-action="SingOut">Cerrar sesión</a></li>
      </ul>
    
  </div>
<body style="background-color:darkcyan;">
    <div id="contenido">
        <a id="abrir" class="abrir-cerrar" href="javascript:void(0)" onclick="mostrar()"><button id="abrir">Abrir menú</button></a>
        <a id="cerrar" class="abrir-cerrar" href="#" onclick="ocultar()"></a>

    </div>
    <h1>Solicitudes de Prestamo Realizadas</h1>
    <div>
        @foreach (proyecto_aula.Models.Prestamo prestamos in ViewBag.Estado)
        {
            <div class="row mb-3" style="border:solid">
                <div>
                    <h6>ID de tu prestamo</h6>
                    <p>@prestamos.PrestamoID</p>
                    <h6>Identificador de tu libro</h6>
                    <p>@prestamos.LibroI</p>
                    <h6>Nombre solicitado Libro solicitado</h6>
                    <p>@prestamos.NomLib</p>
                    <h6>Solicitado por el Usuario</h6>
                    <p>@prestamos.UsuarioI</p>
                    <h6>Estado del prestamo</h6>
                    <p>@prestamos.Estado</p>
                </div>
            </div>
        }
    </div>
    <h1>Mis prestamos Aprobados</h1>
    <div>
        @foreach (proyecto_aula.Models.Prestamo prestamos in ViewBag.aprobado)
        {
            <form asp-action="Confirmacion" method="post">
                <div class="row mb-3" style="border:solid">
                    <div class="col-md-6">
                        <h6>ID de tu prestamo</h6>
                        <input type="text" value="@prestamos.PrestamoID" name="PrestamoID" readonly />
                        <h6>Identificador de tu libro</h6>
                        <p>@prestamos.LibroI</p>
                        <h6>Nombre solicitado Libro solicitado</h6>
                        <input type="text" name="Noml" value="@prestamos.NomLib" />
                        <h6>Solicitado por el Usuario</h6>
                        <input type="text" value="@prestamos.UsuarioI" readonly name="Usuarioid" />
                        <h6>Estado del prestamo</h6>
                        <p>@prestamos.Estado</p>
                        @if (prestamos.Estado == "Aprobado")
                        {
                            <button onclick=" Openwindow()" type="submit">Generar Ficha de prestamo</button>
                        }
                    </div>

                </div>
            </form>
        }
    </div>


    <h1>Fichas generadas correctamente</h1>
    <div class="row mt-3">
        <div class="row mt-3">
            @foreach (proyecto_aula.Models.Prestamo prestamos in ViewBag.Generado)
            {
                <div class="col-4 mb-4 text-center img-div " style="border: solid;border-color: rgb(8, 135, 240);">
                    <div>
                        <h6>ID de tu prestamo</h6>
                        <p>@prestamos.PrestamoID</p>
                        <h6>Identificador de tu libro</h6>
                        <p>@prestamos.LibroI</p>
                        <h6>Nombre solicitado Libro solicitado</h6>
                        <p>@prestamos.NomLib</p>
                        <h6>Solicitado por el Usuario</h6>
                        <p>@prestamos.UsuarioI</p>
                        <h6>Estado del prestamo</h6>
                        <p>@prestamos.Estado</p>

                        <h6>Dia de la devoluciom</h6>
                        <p>@prestamos.Fechadevol</p>
                        <form asp-action="SeleccionarFicha" method="post">
                            <h6>Identificador de tu Ficha de prestamo</h6>
                            <input type="text" readonly name="Ficha" value="@prestamos.Fichapdf" />
                            <button> Mostrar ficha </button>
                        </form>

                    </div>
                </div>

            }
        </div>
    </div>
    <script>
        function mostrar() {
            document.getElementById("sidebar").style.width = "300px";
            document.getElementById("contenido").style.marginLeft = "300px";
            document.getElementById("abrir").style.display = "none";
            document.getElementById("cerrar").style.display = "inline";
        }

        function ocultar() {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("contenido").style.marginLeft = "0";
            document.getElementById("abrir").style.display = "inline";
            document.getElementById("cerrar").style.display = "none";
        }
        function Openwindow() {
            window.open("Informacion", "_blank");
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>
</body>








